body {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
  color: white;
  text-align: center;
}

li a {
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  margin-right: 300px;
}

.pokedex {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pokemon {
  display: grid;
  grid-template: 255px 50px / 333px 297px 250px;
  margin-top: -516px;
}

.pokemon img {
  width: 250px;
  height: 250px;
}

.pokemon h1 {
  padding-left: 60px;
  font-family: sans-serif;
}

.gold img {
  width: 300px;
  height: 400px;
  margin-left: 900px;
  margin-top: -370px;
  z-index: -1;

}
